$breakpoint-mobile: 568px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-laptop: 1440px;
$breakpoint-lg-laptop: 1600px;
$breakpoint-lg-desktop: 1920px;
$breakpoint1024: 1024px;
$breakpoint1366: 1366px;